# Make the master table

In [27]:
import os 
import sys
import pybedtools as pbt
import pandas as pd
import numpy as np
import subprocess as sp
import json
os.chdir('/mnt/BioHome/jreyna/jreyna/projects/dchallenge/')
pbt.set_bedtools_path('/mnt/BioApps/bedtools/bin/')
bgzip = '/mnt/BioApps/tabix/tabix-0.2.6/bgzip'
tabix = '/mnt/BioApps/tabix/tabix-0.2.6/tabix'

bedpe_6cols = ['chrA', 'startA', 'endA', 'chrB', 'startB', 'endB']
bedpe_10cols = ['chrA', 'startA', 'endA', 'chrB', 'startB', 'endB', 'name', 'score', 'strand1', 'strand2']

In [28]:
## default values for the command line
sys.argv = [0] * 8
sys.argv[1] =  'results/main/2021_Nikhil_eQTL/Results/Colocalization/T1D_34012112_Gaulton/'
sys.argv[1] += 'DICE_eQTL_CD4_NAIVE/FINAL_Summary_Coloc_Gene_SNP_Pairs.bed'
sys.argv[2] = 'results/refs/ensembl/gencode.v19.annotation.bed'
sys.argv[3] = 'results/main/2021_Nikhil_eQTL/Data/FitHiChIP_Loops/CD4N/FitHiChIP_L/FitHiChIP.interactions_FitHiC_Q0.01.bed'
sys.argv[4] = 'results/refs/spp/SPP_D-Challenge_networks.xlsx'
sys.argv[5] = 'results/refs/hg19/hg19.chrom.sizes'
sys.argv[6] = 'results/main/2021_Nikhil_eQTL/Data/eqtl_sqtl_summ_stats/DICE_eQTL/CD4_NAIVE.txt.gz'
sys.argv[7] = 'results/main/loop_analysis/washU/'

In [29]:
# parsing the commandline arguments
coloc_fn = sys.argv[1]
genes_fn = sys.argv[2]
loop_fn = sys.argv[3]
spp_fn = sys.argv[4]
gs_fn = sys.argv[5]
eqtl_fn = sys.argv[6]
outdir = sys.argv[7]

# setting the output file names
os.makedirs(outdir, exist_ok=True)

## Load the colocalization data

In [30]:
# load the colocalization data
coloc = pd.read_table(coloc_fn)

# extract the most significant according the H4 
coloc_sig_df = coloc[coloc['pp_H4_Coloc_Summary'] > 0.75]
coloc_sig_df['sid'] = coloc_sig_df['chr'].str.replace('chr', '') + ':' + coloc_sig_df['pos'].astype(str)

coloc_sig_full = coloc_sig_df.copy(deep=True)
coloc_sig_df.rename(columns={'pos': 'end'}, inplace=True)
coloc_sig_df.loc[:, 'start'] = coloc_sig_df.loc[:, 'end'] - 1

coloc_sig_df = coloc_sig_df[['chr', 'start', 'end', 'rs_id', 'variant_id', 'sid', 'geneName']]
coloc_sig_df = coloc_sig_df.loc[~coloc_sig_df.duplicated(subset='rs_id'),]
coloc_sig_pbt = pbt.BedTool.from_dataframe(coloc_sig_df.iloc[:, [0,1,2,5]])

In [126]:
coloc_sig_df

,chr,start,end,rs_id,variant_id,sid,geneName
0,chr6,26357897,26357898,rs556123236,rs142257165:26357898:C:CT,6:26357898,BTN3A2
2,chr11,64107476,64107477,rs479777,rs479777,11:64107477,AP003774.1
3,chr12,112521447,112521448,rs4767364,exm-rs4767364,12:112521448,TMEM116
4,chr12,56401084,56401085,rs10876864,rs10876864,12:56401085,RPS26
5,chr16,11426330,11426331,rs12597893,rs12597893:11426331:A:G,16:11426331,RMI2
7,chr16,28534037,28534038,rs62034321,rs62034321:28534038:C:T,16:28534038,SULT1A2
8,chr18,67525856,67525857,rs3018275,rs3018275:67525857:C:T,18:67525857,DOK6
9,chr21,43855066,43855067,rs1893592,rs1893592,21:43855067,UBASH3A

In [125]:
coloc_genes = coloc_sig_df.geneName.unique()

## Load the gene data

In [31]:
# load the gencode coords
cols = ['chrom', 'start', 'end', 'strand', 'type', 'gene_id', 'gname']
gencode = pd.read_table(genes_fn, header=None, names=cols)

# extract just the genes
genes_df = gencode.loc[gencode.type.isin(['gene'])]
genes_df = genes_df.loc[~genes_df.duplicated(subset='gene_id'), :]
genes_df.loc[:, 'chrom'] = genes_df['chrom'].astype(str)
genes_df = genes_df.iloc[:, [0,1,2,6,5]]
genes_pbt = pbt.BedTool.from_dataframe(genes_df).sort()

## Load the eQTL's

In [32]:
# get eQTL's
eqtls = pd.read_table(eqtl_fn)
eqtls.columns = ['eqtl_gname', 'nvar', 'shape1', 'shape2', 'dummy',
                 'sid', 'dist', 'npval', 'slope', 'ppval', 'bpval', 'qval']
eqtl_pbt = eqtls['sid'].to_frame()
eqtl_pbt['chr'], eqtl_pbt['end'] = list(zip(*eqtl_pbt['sid'].str.split(':').values))
eqtl_pbt['chr'] = 'chr' + eqtl_pbt['chr']
eqtl_pbt['end'] = eqtl_pbt['end'].astype(int)
eqtl_pbt['start'] = eqtl_pbt['end'] - 1 
eqtl_pbt = eqtl_pbt[['chr', 'start', 'end', 'sid']]
eqtl_pbt = pbt.BedTool.from_dataframe(eqtl_pbt)

## Find all genes +/- 500kb of the eQTL SNPs

In [42]:
# filter for eqtl that are near the coloc snps
eqtl_pbt = eqtl_pbt.intersect(coloc_sig_pbt.slop(b=500000, g=gs_fn), wa=True)

In [47]:
# get a list of gene names within +- 500kb of the SNPs
fivekb_genes = eqtl_pbt.slop(b=500000, g=gs_fn)
fivekb_genes = fivekb_genes.intersect(genes_pbt, wa=True, wb=True)
fivekb_genes = fivekb_genes.to_dataframe().iloc[:, [0,1,2,4,5,6,3,7,8]]
fivekb_genes.columns = bedpe_6cols + ['sid', 'gname', 'gid']
fivekb_genes['startA'] += 500000
fivekb_genes['endA'] -= 500000

## Find the closest gene

In [48]:
closest_gene = eqtl_pbt.closest(genes_pbt, d=True)
closest_gene = closest_gene.to_dataframe().iloc[:, [0,1,2,4,5,6,3,7,8,9]]
closest_gene.columns = bedpe_6cols + ['sid', 'gname', 'gid', 'dist']
closest_gene.set_index(['sid', 'gname'], inplace=True)

## Get the loops

In [49]:
# load the loop data
loops = pd.read_table(loop_fn)
tmp_loops = loops[['chr1', 's1', 'e1', 'chr2', 's2', 'e2']]
tmp_loops.rename(columns={'p': 'score'}, inplace=True)
tmp_loops.loc[:, 'name'] = '.'
tmp_loops.loc[:, 'score'] = loops['p']
tmp_loops.loc[:, 'strand1'] = '.'
tmp_loops.loc[:, 'strand2'] = '.'
loops = pbt.BedTool.from_dataframe(tmp_loops)
print('FitHiChIP found {} significant loops.'.format(tmp_loops.shape[0]))

/mnt/BioHome/jreyna/.local/lib/python3.6/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/mnt/BioHome/jreyna/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/mnt/BioHome/jreyna/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/mnt/BioHome/jreyna/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

FitHiChIP found 577026 significant loops.

In [50]:
# #### Find out SNP - 5kb gene pairs with loops\
# re-arranging to fit bedpe format
fivekb_gloops = fivekb_genes.copy()
fivekb_gloops['dummy'] = 'drop'

# loading into pbt
fivekb_gloops = pbt.BedTool.from_dataframe(fivekb_gloops)
fivekb_gloops = fivekb_gloops.pair_to_pair(loops, type='both',  **{'is':True})
fivekb_gloops = fivekb_gloops.to_dataframe(disable_auto_names=True, header=None)

In [51]:
fivekb_gloops.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,chr11,63934301,63934302,chr11,63742079,63744015,11:63934302,COX8A,ENSG00000176340.3,drop,chr11,63740000,63745000,chr11,63930000,63935000,.,7.219366e-08,.,.
1,chr11,63934301,63934302,chr11,63991271,63993726,11:63934302,TRPT1,ENSG00000149743.9,drop,chr11,63930000,63935000,chr11,63990000,63995000,.,2.701329e-07,.,.
2,chr11,63934301,63934302,chr11,64002010,64006259,11:63934302,VEGFB,ENSG00000173511.5,drop,chr11,63930000,63935000,chr11,64005000,64010000,.,2.007063e-07,.,.
3,chr11,63934301,63934302,chr11,64008475,64011604,11:63934302,FKBP2,ENSG00000173486.8,drop,chr11,63930000,63935000,chr11,64005000,64010000,.,2.007063e-07,.,.
4,chr11,63934301,63934302,chr11,64067863,64072242,11:63934302,TEX40,ENSG00000219435.3,drop,chr11,63930000,63935000,chr11,64070000,64075000,.,9.857282e-08,.,.

In [52]:
fivekb_gloops_set = fivekb_gloops.iloc[:, [6,8]]
fivekb_gloops_uniq = set([tuple(x) for x in fivekb_gloops_set.values.tolist()])

## Construct master table

In [159]:
# begin making the master
master = fivekb_genes.copy()
master['sid'] = master['chrA'].str.replace('chr', '') + ':' + master['endA'].astype(str)

In [160]:
# add eqtl metadata
master = master.merge(eqtls, left_on=['sid', 'gname'], right_on=['sid', 'eqtl_gname'], how='left')

In [161]:
# check for the closets gene
closets_check = [0] * master.shape[0]
for i, sr in master.iterrows():

    # check closest gene
    rs_gene = (sr.sid, sr.gname)
    if rs_gene in closest_gene.index:
        closets_check[i] = 1

master['is_closest_gene'] = closets_check

/mnt/BioHome/jreyna/software/anaconda3/envs/hic_tls/lib/python3.6/site-packages/ipykernel/zmqshell.py:536: PerformanceWarning: indexing past lexsort depth may impact performance.
  return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)

In [162]:
# add colocalization data for SNP and is_coloc_snp columns
tmp_coloc = coloc_sig_full.copy()
tmp_coloc = coloc_sig_full[['sid',
 'pp_H0_Coloc_Summary',
 'pp_H1_Coloc_Summary',
 'pp_H2_Coloc_Summary',
 'pp_H3_Coloc_Summary',
 'pp_H4_Coloc_Summary',
 'rs_id',
 'geneName',
 'ref',
 'alt',
 'AC',
 'AF',
 'AN',
 'slope_gwas',
 'slope_se_gwas',
 'pval_nominal',
 'SampleSize']]

In [163]:
tmp_coloc.rename(columns={'slope_gwas': 'gwas_slope',
                          'slope_se_gwas': 'gwas_slope_se',
                          'pval_nominal': 'gwas_pval_nominal',
                          'geneName': 'gname'}, inplace=True)

/mnt/BioHome/jreyna/.local/lib/python3.6/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [164]:
master = master.merge(tmp_coloc, on=['sid', 'gname'], how='outer')

In [165]:
# add a columns to check the coloc gene status
coloc_gids = master.loc[master.gname == master.eqtl_gname, 'gid']
master['is_coloc_gene_id'] = master.gid.isin(coloc_gids).astype(int)

In [166]:
# add a column to check the coloc pair status 
master['is_coloc_pair'] = (~master['pp_H4_Coloc_Summary'].isna()).astype(int)

In [167]:
# check for the loop gene
loop_check = [0] * master.shape[0]
for i, sr in master.iterrows():

    # check closest gene
    rs_gene = (sr.sid, sr.gid)
    if rs_gene in fivekb_gloops_uniq:
        loop_check[i] = 1

master['has_fithichip_loop'] = loop_check

In [168]:
master = master[[
 'rs_id',
 'gname',
 'gid',
 'chrA',
 'endA',    
 'startB',
 'endB',
 'is_coloc_gene_id', 
 'is_coloc_pair',
 'is_closest_gene',
 'has_fithichip_loop',
 'sid',
 'nvar',
 'shape1',
 'shape2',
 'npval',
 'slope',
 'ppval',
 'bpval',
 'qval',
 'pp_H0_Coloc_Summary',
 'pp_H1_Coloc_Summary',
 'pp_H2_Coloc_Summary',
 'pp_H3_Coloc_Summary',
 'pp_H4_Coloc_Summary',
 'ref',
 'alt',
 'AC',
 'AF',
 'AN',
 'gwas_slope',
 'gwas_slope_se',
 'gwas_pval_nominal',
 'SampleSize']]

In [169]:
master.rename(columns={'chrA':'chrom', 'endA': 'snp_pos', 
                       'startB': 'gene_start', 'endB': 'gene_end',
                       'gname': 'gene_name', 'gid': 'gene_id'}, inplace=True)
master.sort_values(['chrom', 'snp_pos', 'gene_start', 'rs_id'], inplace=True)

In [170]:
master[(master.has_fithichip_loop == 1) & (master.is_coloc_pair == 0)]

,rs_id,gene_name,gene_id,chrom,snp_pos,gene_start,gene_end,is_coloc_gene_id,is_coloc_pair,is_closest_gene,...,pp_H4_Coloc_Summary,ref,alt,AC,AF,AN,gwas_slope,gwas_slope_se,gwas_pval_nominal,SampleSize
210,NaN,MARK2,ENSG00000072518.16,chr11,63639881,63606400,63678491,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,RNU6-1306P,ENSG00000202089.1,chr11,63639881,63650059,63650157,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,NAA40,ENSG00000110583.8,chr11,63639881,63706431,63724800,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,COX8A,ENSG00000176340.3,chr11,63639881,63742079,63744015,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,NaN,AP000721.4,ENSG00000256100.1,chr11,63639881,63742092,63755818,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,NaN,HIST1H2BD,ENSG00000158373.7,chr6,26399615,26158349,26171577,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
980,NaN,HIST1H1PS1,ENSG00000216331.1,chr6,26399615,26195794,26195999,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1016,NaN,HIST1H3D,ENSG00000197409.6,chr6,26399615,26197068,26199521,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,NaN,HIST1H2AD,ENSG00000196866.2,chr6,26399615,26199079,26199471,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,NaN,HIST1H2BF,ENSG00000197846.3,chr6,26399615,26199748,26200942,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [173]:
master[(master.has_fithichip_loop == 1) & (master.is_coloc_gene_id == 1)]

,rs_id,gene_name,gene_id,chrom,snp_pos,gene_start,gene_end,is_coloc_gene_id,is_coloc_pair,is_closest_gene,...,pp_H4_Coloc_Summary,ref,alt,AC,AF,AN,gwas_slope,gwas_slope_se,gwas_pval_nominal,SampleSize
88,NaN,TRMT112,ENSG00000173113.2,chr11,63934302,64083932,64085556,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaN,TRMT112,ENSG00000173113.2,chr11,64107477,64083932,64085556,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,rs479777,AP003774.1,ENSG00000236935.1,chr11,64107477,64092522,64096976,1,1,0,...,0.966839,T,C,1094.0,0.218450,5008.0,-0.099132,0.015066,4.710000e-11,520580.0
147,NaN,MEN1,ENSG00000133895.10,chr11,64107477,64570982,64578766,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,MEN1,ENSG00000133895.10,chr11,64549514,64570982,64578766,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,rs10876864,RPS26,ENSG00000197728.5,chr12,56401085,56435637,56438116,1,1,0,...,1.000000,G,A,2796.0,0.558307,5008.0,-0.226848,0.014116,4.160000e-58,520580.0
571,rs12597893,RMI2,ENSG00000175643.7,chr16,11426331,11343476,11445619,1,1,1,...,0.999001,A,G,3096.0,0.618211,5008.0,-0.097484,0.014095,4.640000e-12,520580.0
572,rs12597893,RMI2,ENSG00000175643.7,chr16,11426331,11343476,11445619,1,1,1,...,0.999001,A,G,3096.0,0.618211,5008.0,-0.097484,0.014095,4.640000e-12,520580.0
647,NaN,TUFM,ENSG00000178952.4,chr16,28837515,28853732,28857729,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,NaN,TMPRSS3,ENSG00000160183.9,chr21,43824106,43791999,43816955,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,NaN,UBASH3A,ENSG00000160185.9,chr21,43824106,43824008,43867791,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
782,NaN,TMPRSS3,ENSG00000160183.9,chr21,43855067,43791999,43816955,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
783,rs1893592,UBASH3A,ENSG00000160185.9,chr21,43855067,43824008,43867791,1,1,1,...,0.999988,A,C,1058.0,0.211262,5008.0,-0.116047,0.015577,9.340000e-14,520580.0
823,NaN,PDE9A,ENSG00000160191.13,chr21,44157187,44073746,44195619,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
for fn in master[(master.has_fithichip_loop == 1) & (master.is_coloc_gene_id == 1)].gene_name.tolist():
    print(fn)

TRMT112
TRMT112
AP003774.1
MEN1
MEN1
RPS26
RMI2
RMI2
TUFM
TMPRSS3
UBASH3A
TMPRSS3
UBASH3A
PDE9A

In [33]:
# write out the master data
fn = os.path.join(outdir, 'master.tsv')
master.to_csv(fn, sep='\t', header=True, index=False)

fn = os.path.join(outdir, 'master.xlsx')
excel_master = master.sort_values('rs_id').set_index('rs_id')
excel_master.to_excel(fn, na_rep='nan')

In [174]:
master[master.sid == '1:110229787']

Empty DataFrame
Columns: [chrA, startA, endA, chrB, startB, endB, rs_id, gname, gid, sid, is_closest_gene, eqtl_gname, nvar, shape1, shape2, dummy, dist, npval, slope, ppval, bpval, qval]
Index: []

[0 rows x 22 columns]